body {
    margin: 0;
    padding: 10px;
}
.header {
    font-weight: bold;
    background-color: #f7a14c;
    color: white;
    font-weight: bold;
    font-weight: bold;
    padding: 10px;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
}

.akanname {
    float: right;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
}
.akanname h3, h4 {
    font-weight: bold;
}

.form {
    text-align: center;
    font-size: small;
    clear: both;
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
}
.form label {
    font-weight: bold;
}
#footer {
    background-color: #f7a14c;
    color: #2c2c2c;
    clear: both;
    padding: 10px;
}

